 form {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

input {
    position: relative;
    font-size: 1.5rem;
} 


/* Pour centrer */
label {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}
 
